<section class="certifications section reveal" id="certifications">
  <h2 class="certifications-title">Certifications</h2>
  <ul class="certifications-list">
    {% for certification in site.data.certifications %}
    <li
      class="certifications-item reveal"
      onclick="window.open('{{ certification.url }}', '_blank')"
      role="link"
      tabindex="0"
      onkeydown="if(event.key==='Enter')window.open('{{ certification.url }}','_blank')"
    >
      <div class="certifications-item-icon">
        <i class="{{ certification.class }}"></i>
      </div>
      <div class="certifications-item-text">
        <p class="certifications-item-name">{{ certification.name }}</p>
        <p class="certifications-item-description">{{ certification.description }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
