<div class="portfolio panel">
  <h2 class="portfolio-title">Projects</h2>
  <hr />
  <div class="portfolio-grid">
    {% for project in site.data.portfolio.projects %}
    <div class="portfolio-item">
      <a
        href="{{ project.link }}"
        class="portfolio-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="{{ site.baseUrl }}{{ project.image }}"
          alt="{{ project.title }}"
          class="portfolio-thumbnail"
        />
        <div class="portfolio-content">
          <h4 class="portfolio-item-title">{{ project.title }}</h4>
          <p class="portfolio-description">{{ project.description }}</p>
        </div>
      </a>
    </div>

    {% endfor %}
  </div>
</div>
