@use 'variables/sizes' as sizes
@use 'variables/colors' as colors

h1
  font-size: sizes.$fs-2
h2
  font-size: sizes.$fs-1
h3
  font-size: sizes.$fs-2
h4
  font-size: sizes.$fs-4
h5
  font-size: sizes.$fs-5
h6
  font-size: sizes.$fs-6
h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Montserrat', sans-serif
  color: colors.$text-color

body
  background-color: colors.$bg-0,
  font-family: 'Lato', sans-serif
  color: colors.$text-color
  fill: colors.$text-color
  height: 100vh

  hr
    width: 100%
