h1 {
  font-size: 30px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

body {
  background-color: #010101;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  fill: #ffffff;
  height: 100vh;
}
body hr {
  width: 100%;
}

.panel {
  background-color: #1b1b1b;
  padding: 25px 20px;
  border-radius: 10px;
  border: 1px solid #4d4d4d;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
@media (max-width: 768px) {
  .panel {
    padding: 15px 15px;
  }
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin: 35px auto;
  padding-bottom: 35px;
  gap: 25px;
}
.app-content {
  width: 75%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 1250px) {
  .app {
    flex-direction: column;
    align-items: center;
  }
  .app-content {
    width: 950px;
  }
}
@media (max-width: 992px) {
  .app-content {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .app-content {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .app {
    margin: 15px;
  }
  .app-content {
    width: 100%;
  }
}

.certifications-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 15px;
  margin-bottom: 0;
  padding: 0;
}
@media (max-width: 992px) {
  .certifications-list {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .certifications-list {
    flex-direction: column;
  }
}
.certifications-item {
  display: flex;
  align-items: center;
  padding: 25px;
  max-width: 405px;
  width: 100%;
  cursor: pointer;
  background: #333;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 992px) {
  .certifications-item {
    max-width: 100%;
  }
}
.certifications-item-icon {
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 35px;
  background: #4d4d4d;
  color: #b3b3b3;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.certifications-item P {
  margin: 0;
}

.education-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  gap: 15px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .education-list {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .education-list {
    flex-direction: column;
  }
}
.education-item {
  display: flex;
  align-items: center;
  padding: 25px;
  max-width: 405px;
  width: 100%;
  background: #333;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 992px) {
  .education-item {
    max-width: 100%;
  }
}
.education-item-icon {
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 35px;
  background: #4d4d4d;
  color: #b3b3b3;
  border-radius: 50%;
}
.education-item P {
  margin: 0;
}

.experience {
  max-height: 500px;
  overflow-y: hidden;
  position: relative;
  transition: max-height 0.5s ease;
  color: #cccccc;
}
.experience-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 25px auto 75px auto;
  padding-left: 35px;
}
@media (max-width: 992px) {
  .experience-list {
    padding-left: 0;
  }
}
.experience-expand {
  position: absolute;
  width: 100%;
  background-color: #1b1b1b;
  border-top: 1px solid #4d4d4d;
  text-align: center;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 10px 0;
  cursor: pointer;
}
.experience-expand::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 45px;
  height: 100px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), #1b1b1b);
  z-index: -1;
  pointer-events: none;
}
.experience-expand:hover {
  background-color: #333;
}
.experience-item {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  background-color: #333;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 992px) {
  .experience-item {
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    padding: 20px 15px;
  }
}
.experience-item::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 60px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b3b3b3;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 2;
}
@media (max-width: 992px) {
  .experience-item::before {
    left: -25px;
  }
}
.experience-item::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 70px;
  width: 1px;
  height: calc(100% + 10px);
  background-color: #4d4d4d;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1;
}
@media (max-width: 992px) {
  .experience-item::after {
    left: -20px;
  }
}
.experience-item:last-child::after {
  content: none;
}
@media (max-width: 992px) {
  .experience-item:last-child::after {
    content: "";
  }
}
.experience-item-heading {
  padding: 5px 10px;
  min-width: 250px;
  width: 250px;
  background: #4d4d4d;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  color: #b3b3b3;
}
@media (max-width: 992px) {
  .experience-item-heading {
    width: auto;
    min-width: auto;
    margin-left: 0;
  }
}
.experience-item-heading hr {
  margin: 1px;
}
.experience-item-heading h4 {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 0;
  color: #b3b3b3;
  padding: 2px 0;
}
.experience-item-heading h4.subtitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.experience-item-description {
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .experience-item-description {
    padding-left: 10px;
  }
}
.experience-item-label {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  margin-left: 22px;
  color: #b3b3b3;
  background: #4d4d4d;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
@media (max-width: 992px) {
  .experience-item-label {
    padding: 10px;
    margin-left: 0;
  }
}
.experience-item-label::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.experience-item-roles {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.experience-item-technologies {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  padding-left: 2rem;
}
@media (max-width: 992px) {
  .experience-item-technologies {
    padding-left: 0;
  }
}
.experience-item-technologies-item {
  text-align: center;
  padding: 5px 10px;
  background-color: #4d4d4d;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navigation-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  justify-content: end;
  background-color: #333;
  border: 1px solid #4d4d4d;
  border-radius: 0 10px 0 10px;
  padding: 0 5px;
}
.navigation-link {
  padding: 20px 10px;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.navigation-item {
  padding: 7px 15px;
}

.portfolio-grid {
  display: flex;
  justify-content: left;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .portfolio-grid {
    gap: 25px;
  }
}
.portfolio-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.portfolio-link {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  color: #ffffff;
}
.portfolio-content {
  padding: 15px;
}
.portfolio-item {
  background-color: #333;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  overflow: hidden;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
@media (max-width: 1250px) {
  .portfolio-item {
    max-width: 285px;
  }
}
@media (max-width: 992px) {
  .portfolio-item {
    max-width: 315px;
  }
}
@media (max-width: 768px) {
  .portfolio-item {
    max-width: 100%;
  }
}
.portfolio-item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.portfolio-item-content {
  padding: 15px;
}
.portfolio-item-title {
  font-weight: bold;
  margin: 10px 0;
  margin-bottom: 0.5rem;
}
.portfolio-item-description {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

@media (max-width: 1250px) {
  .social-icons {
    margin-top: 25px;
  }
}
.social-icons a {
  color: #ffffff;
  padding: 0 10px;
  text-decoration: none;
}

.sidebar {
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: max-content;
  position: sticky;
  top: 25px;
  overflow: hidden;
}
@media (max-width: 1250px) {
  .sidebar {
    width: 950px;
    align-items: flex-start;
    position: relative;
    top: 0;
    text-align: left;
  }
}
@media (max-width: 992px) {
  .sidebar {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar-logo {
  max-width: 100px;
  width: 100%;
  margin: 15px auto 30px auto;
}
@media (max-width: 1250px) {
  .sidebar-logo {
    max-width: 60px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.sidebar-title {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  z-index: 2;
  position: relative;
}
@media (max-width: 576px) {
  .sidebar-title {
    font-size: 24px;
  }
}
.sidebar-description {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1250px) {
  .sidebar-description {
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .sidebar-description {
    flex-direction: column;
    gap: 0;
  }
}
.sidebar-description-item {
  max-width: 300px;
  margin: 0;
}
@media (max-width: 576px) {
  .sidebar-description-item {
    font-size: 14px;
  }
}
.sidebar-toggle {
  margin-top: 25px;
  display: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}
@media (max-width: 1250px) {
  .sidebar-toggle {
    display: block;
    position: absolute;
    padding: 15px 20px;
    right: 0;
    top: 0;
  }
  .sidebar-toggle:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: #333;
    width: 50px;
    height: 50px;
    z-index: -1;
  }
}
@media (max-width: 1250px) and (max-width: 576px) {
  .sidebar-toggle:hover::before {
    top: 4px;
    left: 4px;
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1250px) and (max-width: 576px) {
  .sidebar-toggle {
    padding: 10px 15px;
  }
}
.sidebar-content {
  width: 100%;
}
@media (max-width: 1250px) {
  .sidebar-content {
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
  }
  .sidebar-content.open {
    margin-top: 25px;
    height: auto;
    gap: 15px;
    transition: margin 0.5s ease;
  }
}
.sidebar-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all ease 1s;
}
@media (max-width: 1250px) {
  .sidebar-header {
    flex-direction: row;
    align-items: center;
  }
  .sidebar-header.open {
    padding-bottom: 15px;
  }
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
@media (min-width: 768px) and (max-width: 1250px) {
  .sidebar-list {
    flex-direction: row;
  }
}
.sidebar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  text-align: left;
  padding: 10px;
  background: #333;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
}
@media (max-width: 1250px) {
  .sidebar-item {
    flex: 0 0 calc(50% - 10px);
  }
}
.sidebar-item a {
  color: #ffffff;
  text-decoration: none;
}
.sidebar-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.sidebar-item p {
  margin: 0;
}
@media (max-width: 1250px) {
  .sidebar hr {
    display: none;
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: left;
  float: right;
}
@media (max-width: 992px) {
  .skills-list {
    padding-left: 0;
    justify-content: center;
  }
}
.skills-item {
  display: flex;
  align-items: center;
  background: #4d4d4d;
  border-radius: 10px;
  padding: 5px 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.skills-item p {
  margin-bottom: 0;
  margin-left: 10px;
}
.skills-item-icon {
  font-size: 26px;
}

/*# sourceMappingURL=styles.css.map */
