@use 'variables/colors' as colors
@use 'variables/sizes' as sizes

.panel

    background-color: colors.$bg-1
    padding: 25px 20px
    border-radius: sizes.$border-radius
    border: colors.$border-1
    box-shadow: sizes.$box-shadow-xl

    @media (max-width: sizes.$bp-md)
        padding: 15px 15px

.app

    display: flex
    flex-direction: row
    justify-content: center
    max-width: 1200px
    margin: 35px auto
    padding-bottom: 35px
    gap: 25px

    &-content

        width: 75%
        position: relative
        display: flex
        flex-direction: column
        gap: 25px

    @media (max-width: sizes.$bp-xl)

        flex-direction: column
        align-items: center

        &-content
            width: 950px

    @media (max-width: sizes.$bp-lg)

        &-content
            width: 700px

    @media (max-width: sizes.$bp-md)

        &-content
            width: 500px

    @media (max-width: sizes.$bp-sm)

        margin: 15px

        &-content
            width: 100%
