
@use '../variables/colors' as colors
@use '../variables/sizes' as sizes
@use '../utilities/components' as ui

.education

    &-list
        display: flex
        flex-direction: row
        list-style: none
        padding: 0
        gap: 15px
        margin-bottom: 0
        @media (max-width: sizes.$bp-lg)
            padding-left: 0
        @media (max-width: sizes.$bp-md)
            flex-direction: column

    &-item
        display: flex
        align-items: center
        max-width: 405px
        width: 100%
        @include ui.card($bg: colors.$bg-2, $border: null, $shadow: sizes.$box-shadow-lg, $padding: 25px)
        @media (max-width: sizes.$bp-lg)
            max-width: 100%

        &-icon
            margin-right: 15px
            @include ui.icon-badge($bg: colors.$bg-3, $color: colors.$text-color-2, $font-size: 35px)

        & P
            margin: 0
