.navigation

  &-menu
    position: absolute
    top: 0
    right: 0
    display: flex
    gap: 10px
    justify-content: end
    background-color: $bg-2
    border: $border-1
    border-radius: 0 10px 0 10px
    padding: 0 5px

  &-link
    padding: 20px 10px
    font-size: $fs-6
    color: $text-color
    text-decoration: none
    background: 0 0
    border: 0
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out

  &-item
    padding: 7px 15px
