@media (max-width: 1250px) {
  .social-icons {
    margin-top: 25px;
  }
}
.social-icons a {
  color: #ffffff;
  padding: 0 10px;
  text-decoration: none;
}

.sidebar {
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: -moz-max-content;
  height: max-content;
  position: sticky;
  top: 25px;
}
@media (max-width: 1250px) {
  .sidebar {
    width: 950px;
    align-items: flex-start;
    position: relative;
    top: 0;
    text-align: left;
  }
}
@media (max-width: 992px) {
  .sidebar {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar-logo {
  max-width: 100px;
  width: 100%;
  margin: 15px auto 30px auto;
}
@media (max-width: 1250px) {
  .sidebar-logo {
    max-width: 60px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.sidebar-title {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 576px) {
  .sidebar-title {
    font-size: 24px;
  }
}
.sidebar-description {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1250px) {
  .sidebar-description {
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .sidebar-description {
    flex-direction: column;
    gap: 0;
  }
}
.sidebar-description-item {
  max-width: 300px;
  margin: 0;
}
@media (max-width: 576px) {
  .sidebar-description-item {
    font-size: 14px;
  }
}
.sidebar-toggle {
  margin-top: 25px;
  display: none;
  cursor: pointer;
}
@media (max-width: 1250px) {
  .sidebar-toggle {
    display: block;
    position: absolute;
    padding: 15px 20px;
    right: 0;
    top: 0;
  }
}
@media (max-width: 1250px) and (max-width: 576px) {
  .sidebar-toggle {
    padding: 10px 15px;
  }
}
.sidebar-content {
  width: 100%;
}
@media (max-width: 1250px) {
  .sidebar-content {
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
  }
  .sidebar-content.open {
    margin-top: 25px;
    height: auto;
    gap: 15px;
    transition: margin 0.5s ease;
  }
}
.sidebar-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all ease 1s;
}
@media (max-width: 1250px) {
  .sidebar-header {
    flex-direction: row;
    align-items: center;
  }
  .sidebar-header.open {
    padding-bottom: 15px;
  }
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
@media (min-width: 768px) and (max-width: 1250px) {
  .sidebar-list {
    flex-direction: row;
  }
}
.sidebar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  text-align: left;
  padding: 10px;
  background: #333;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
}
@media (max-width: 1250px) {
  .sidebar-item {
    flex: 0 0 calc(50% - 5px);
  }
}
.sidebar-item a {
  color: #ffffff;
  text-decoration: none;
}
.sidebar-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.sidebar-item p {
  margin: 0;
}
@media (max-width: 1250px) {
  .sidebar hr {
    display: none;
  }
}/*# sourceMappingURL=sidebar.css.map */