.skills

    &-list
        display: flex
        flex-wrap: wrap
        gap: 15px
        justify-content: left

    &-item
        display: block
        background: $bg-3
        border-radius: $border-radius
        padding: 5px
        min-width: 100px
        text-align: center
        box-shadow: $box-shadow-lg

        & p
            margin-bottom: 0

        &-icon
            font-size: $fs-2
