@use 'variables/colors' as colors
@use 'variables/sizes' as sizes
@use '../utilities/components' as ui

.skills

    &-list
        display: flex
        flex-wrap: wrap
        gap: 15px
        justify-content: left
        float: right
        
        @media ( max-width: sizes.$bp-lg )
            padding-left: 0
            justify-content: center

    &-item
        @include ui.chip($bg: colors.$bg-3, $color: colors.$text-color, $radius: sizes.$border-radius, $padding: 5px 15px, $shadow: sizes.$box-shadow-lg)
        & p
            margin-bottom: 0
            margin-left: 10px

        &-icon
            font-size: sizes.$fs-2
