@use 'variables/colors' as colors
@use 'variables/sizes' as sizes

.skills

    &-list
        display: flex
        flex-wrap: wrap
        gap: 15px
        justify-content: left

    &-item
        display: block
        background: colors.$bg-3
        border-radius: sizes.$border-radius
        padding: 5px
        min-width: 90px
        text-align: center
        box-shadow: sizes.$box-shadow-lg

        & p
            margin-bottom: 0

        &-icon
            font-size: sizes.$fs-2
